<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IProjectsManagement">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IBeneficiaryManagement">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IRequestManagement">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IUserManagement">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILocalityManagement">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPolicyManagement">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IProjectsManagement1">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IBeneficiaryManagement1">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IRequestManagement1">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IUserManagement1">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILocalityManagement1">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPolicyManagement1">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IBankAccountManagement">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IDeliveryOrdenManagement">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8083/SGPM_Services" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IProjectsManagement" contract="SGPMManagerService.IProjectsManagement"
                name="NetTcpBinding_IProjectsManagement" />
            <endpoint address="net.tcp://localhost:8083/SGPM_Services" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IBeneficiaryManagement"
                contract="SGPMManagerService.IBeneficiaryManagement" name="NetTcpBinding_IBeneficiaryManagement" />
            <endpoint address="net.tcp://localhost:8083/SGPM_Services" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IRequestManagement" contract="SGPMManagerService.IRequestManagement"
                name="NetTcpBinding_IRequestManagement" />
            <endpoint address="net.tcp://localhost:8083/SGPM_Services" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IUserManagement" contract="SGPMManagerService.IUserManagement"
                name="NetTcpBinding_IUserManagement" />
            <endpoint address="net.tcp://localhost:8083/SGPM_Services" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ILocalityManagement" contract="SGPMManagerService.ILocalityManagement"
                name="NetTcpBinding_ILocalityManagement" />
            <endpoint address="net.tcp://localhost:8083/SGPM_Services" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IPolicyManagement" contract="SGPMManagerService.IPolicyManagement"
                name="NetTcpBinding_IPolicyManagement" />
            <endpoint address="net.tcp://localhost:8083/SGPM_Services" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IProjectsManagement1"
                contract="SGPMService.IProjectsManagement" name="NetTcpBinding_IProjectsManagement1" />
            <endpoint address="net.tcp://localhost:8083/SGPM_Services" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IBeneficiaryManagement1"
                contract="SGPMService.IBeneficiaryManagement" name="NetTcpBinding_IBeneficiaryManagement1" />
            <endpoint address="net.tcp://localhost:8083/SGPM_Services" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IRequestManagement1" contract="SGPMService.IRequestManagement"
                name="NetTcpBinding_IRequestManagement1" />
            <endpoint address="net.tcp://localhost:8083/SGPM_Services" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IUserManagement1" contract="SGPMService.IUserManagement"
                name="NetTcpBinding_IUserManagement1" />
            <endpoint address="net.tcp://localhost:8083/SGPM_Services" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ILocalityManagement1"
                contract="SGPMService.ILocalityManagement" name="NetTcpBinding_ILocalityManagement1" />
            <endpoint address="net.tcp://localhost:8083/SGPM_Services" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IPolicyManagement1" contract="SGPMService.IPolicyManagement"
                name="NetTcpBinding_IPolicyManagement1" />
            <endpoint address="net.tcp://localhost:8083/SGPM_Services" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IBankAccountManagement"
                contract="SGPMService.IBankAccountManagement" name="NetTcpBinding_IBankAccountManagement" />
            <endpoint address="net.tcp://localhost:8083/SGPM_Services" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IDeliveryOrdenManagement"
                contract="SGPMService.IDeliveryOrdenManagement" name="NetTcpBinding_IDeliveryOrdenManagement" />
        </client>
    </system.serviceModel>
</configuration>