<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IProjectsManagement">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IBeneficiaryManagement">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IRequestManagement">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8083/ProjectService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IProjectsManagement" contract="SGPMReference.IProjectsManagement"
                name="NetTcpBinding_IProjectsManagement" />
            <endpoint address="net.tcp://localhost:8083/BeneficiaryService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IBeneficiaryManagement"
                contract="SGPMReference.IBeneficiaryManagement" name="NetTcpBinding_IBeneficiaryManagement" />
            <endpoint address="net.tcp://localhost:8083/RequestService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IRequestManagement" contract="SGPMReference.IRequestManagement"
                name="NetTcpBinding_IRequestManagement" />
        </client>
    </system.serviceModel>
</configuration>